@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

/* html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
} */
p {
    margin-bottom: 0;
}
body, html{
    font-family: 'Poppins', sans-serif;
}
/* .c{
    font-family: 'Poppins', sans-serif;
}
 */
.rar{
    /* background-color: #66CCB6;
    border-color: #66CCB6; */
    font-weight: 700;
    color: white;
}
.rr{
    margin-right: 10px;
}
/* .rar:hover{
    background-color: #4BC3A3;
    border-color: #4BC3A3;
} */
.wwwwww{
    max-width: 1400px;
    min-width: 1000px;
    margin: 0 auto;
}
.puk{
    border-color: #66CCB6;
    color: #66CCB6;
}
.puk:hover{
    background-color: #66CCB6;
    border-color: #66CCB6  ;
}
.zzz{
    max-width: 1000px;
    margin: 0 auto;
    /* min-height: 100%; */
}
.titlee{
    padding-top: 20px;
    padding-left: 40px;
    color: white;
    padding-bottom: 20px;
}
.fonee{
    background: #000;
}
.ghh{
    margin-bottom: 10px;
}
.pickc{
    margin-bottom: 40px;
}
/* .xxx{
    margin-left: 12px;
} */
.footer{
    flex: 0 0 auto;
    padding-top: 50px;
}
.hhh{
    min-height: 100%;
}
.xxx{
    height: 1200px;
}
.film_item{
    color: #ff6900;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.film_item_site{
    color: #383635;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-film{
    /* font-family: 'Comfortaa', cursive;
    font-size: 23px;
    font-weight: 700; */
    color: #383838;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
.film_item-pr{
    color: #ff6900;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-film-price{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.item-film-desc{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #ff6900;
    padding: 10px;
    border-radius: 5px;
    color: rgb(77, 77, 77);
}
.ptt{
    margin-top: 10px;
}
.sizesize{
    font-size: 30px;
}
.nou{
    text-decoration: none;
    color: white;
}
.nou:hover{
    color: white;
}
.social-pic{
    width: 37px;
    height: 37px;
}
.social-item{
    margin-right: 20px;
}
.papapa{
    padding: 0;
}