{% extends "base_generic.html" %}

{% block content %}
<h1 style="font-weight: 700;">Lab 8 Home</h1>

  <p>Welcome to <em>My First Django App</em>, a very basic Django website of Andrew Kobyak IU5-52</p>

<h2>Just content</h2>

  <p>The site has the following records</p>
  <ul>
    <li><strong>The Shawshank Redemtion</strong></li>
    <li><strong>The Green Mile</strong></li>
    <li><strong>Lord of the Rings: The Return of the King</strong></li>
    <!-- <li><strong>Authors:</strong> {{ num_authors }}</li> -->
  </ul>

{% endblock %}