

{% extends "base_generic.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
<h1 style="font-weight: 700;">About film: The Green Mile</h1>

  <p>Welcome to Film Page</p>

<h2>Just info</h2>
{% load static %}
<img src="{% static 'images/gm.jpg' %}" alt="My image" class="format"/>

  <p>About:</p>
  <ul>
    <li><strong>Year: 1999</strong></li>
    <li><strong>Country: USA</strong></li>
    <li><strong>Style: drama, crime, detective</strong></li>
    <li><strong>Rating: 9.0</strong></li>
    <!-- <li><strong>Authors:</strong> {{ num_authors }}</li> -->
  </ul>
<p>Пол Эджкомб - начальник блока смертников в тюрьме «Холодная гора», каждый из узников которого однажды проходит «зеленую милю»</p>
<p>по пути к месту казни. Пол повидал много заключённых и надзирателей за время работы. Однако гигант Джон Коффи, обвинённый в страшном</p>
<p>преступлении, стал одним из самых необычных обитателей блока.</p>

{% endblock %}

  